canvas {
    background-color: salmon;
    border-color: pink;
    border-style: solid;
    border-width: 5px;
    margin: 0;
    padding: 0;
    /*center the canvas please*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    color: salmon;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 30px;
    text-align: center;
    /*put the title at the top of the page*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f2f2;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
    text-align: center;
}

footer{
    background-color: #f2f2f2;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
    text-align: center;
    /*put the footer at the bottom of the page*/
    position: absolute;
    bottom: 0;
    width: 100%;
    /*use the color of the h1
    to make the footer the same color*/
    color: salmon;
}